# Projeto 2 de Ciência de dados:

##### Integrantes:
* #### Jean Silas
* #### Isabelle Moschini
* #### Matheus Barros
* #### Rafael Evangelista

  O Projeto consiste em utilizar dados de aplicativos da Google PlayStore para prever o número de downloads de um aplicativo utilizando regressão.

## Importando as bibliotecas e lendo a base de dados (dataset) :

In [1]:
#Importando as Bibliotecas:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [2]:
#Abrindo o Dataset
dataset = pd.read_csv('googleplaystore.csv')

In [3]:
#Sondando os dados
dataset

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [4]:
data = dataset.drop(columns=['App', 'Size', 'Genres', 'Last Updated', 'Current Ver', 'Android Ver'])
data

,Category,Rating,Reviews,Installs,Type,Price,Content Rating
0,ART_AND_DESIGN,4.1,159,"10,000+",Free,0,Everyone
1,ART_AND_DESIGN,3.9,967,"500,000+",Free,0,Everyone
2,ART_AND_DESIGN,4.7,87510,"5,000,000+",Free,0,Everyone
3,ART_AND_DESIGN,4.5,215644,"50,000,000+",Free,0,Teen
4,ART_AND_DESIGN,4.3,967,"100,000+",Free,0,Everyone
...,...,...,...,...,...,...,...
10836,FAMILY,4.5,38,"5,000+",Free,0,Everyone
10837,FAMILY,5.0,4,100+,Free,0,Everyone
10838,MEDICAL,NaN,3,"1,000+",Free,0,Everyone
10839,BOOKS_AND_REFERENCE,4.5,114,"1,000+",Free,0,Mature 17+
10840,LIFESTYLE,4.5,398307,"10,000,000+",Free,0,Everyone

In [5]:
data0 = data.dropna()
data0

,Category,Rating,Reviews,Installs,Type,Price,Content Rating
0,ART_AND_DESIGN,4.1,159,"10,000+",Free,0,Everyone
1,ART_AND_DESIGN,3.9,967,"500,000+",Free,0,Everyone
2,ART_AND_DESIGN,4.7,87510,"5,000,000+",Free,0,Everyone
3,ART_AND_DESIGN,4.5,215644,"50,000,000+",Free,0,Teen
4,ART_AND_DESIGN,4.3,967,"100,000+",Free,0,Everyone
...,...,...,...,...,...,...,...
10834,FAMILY,4.0,7,500+,Free,0,Everyone
10836,FAMILY,4.5,38,"5,000+",Free,0,Everyone
10837,FAMILY,5.0,4,100+,Free,0,Everyone
10839,BOOKS_AND_REFERENCE,4.5,114,"1,000+",Free,0,Mature 17+
10840,LIFESTYLE,4.5,398307,"10,000,000+",Free,0,Everyone

In [6]:
data0.Category.value_counts()

FAMILY                 1747
GAME                   1097
TOOLS                   734
PRODUCTIVITY            351
MEDICAL                 350
COMMUNICATION           328
FINANCE                 323
SPORTS                  319
PHOTOGRAPHY             317
PERSONALIZATION         314
LIFESTYLE               314
BUSINESS                303
HEALTH_AND_FITNESS      297
SOCIAL                  259
SHOPPING                238
NEWS_AND_MAGAZINES      233
TRAVEL_AND_LOCAL        226
DATING                  195
BOOKS_AND_REFERENCE     178
VIDEO_PLAYERS           160
EDUCATION               155
ENTERTAINMENT           149
MAPS_AND_NAVIGATION     124
FOOD_AND_DRINK          109
HOUSE_AND_HOME           76
WEATHER                  75
AUTO_AND_VEHICLES        73
LIBRARIES_AND_DEMO       65
ART_AND_DESIGN           62
COMICS                   58
PARENTING                50
EVENTS                   45
BEAUTY                   42
Name: Category, dtype: int64

In [7]:
data0.Rating.value_counts()

4.4    1109
4.3    1076
4.5    1038
4.2     952
4.6     823
4.1     708
4.0     568
4.7     499
3.9     386
3.8     303
5.0     274
3.7     239
4.8     234
3.6     174
3.5     163
3.4     128
3.3     102
4.9      87
3.0      83
3.1      69
3.2      64
2.9      45
2.8      42
2.6      25
2.7      25
2.5      21
2.3      20
2.4      19
1.0      16
2.2      14
1.9      13
2.0      12
1.7       8
2.1       8
1.8       8
1.6       4
1.4       3
1.5       3
1.2       1
Name: Rating, dtype: int64

In [8]:
data0.Reviews.value_counts()

2           83
3           78
5           74
4           74
1           67
            ..
19758        1
141613       1
6997         1
17714850     1
112384       1
Name: Reviews, Length: 5992, dtype: int64

In [9]:
#Definindo função que limpa
def Installs_clean(valor):
    valor_str = str(valor)
    return int(valor_str.replace('+', '').replace(',',''))

In [10]:
data0.Installs = data0.Installs.astype(str).map(Installs_clean)
data0.Installs.value_counts()

C:\Users\Isabelle M M\Anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

1000000       1577
10000000      1252
100000        1150
10000         1010
5000000        752
1000           713
500000         538
50000          467
5000           432
100000000      409
100            309
50000000       289
500            201
500000000       72
10              69
1000000000      58
50              56
5                9
1                3
Name: Installs, dtype: int64

In [11]:
data0.Type.value_counts()

Free    8719
Paid     647
Name: Type, dtype: int64

In [12]:
#Definindo função que limpa
def Price_clean(valor):
    valor_str = str(valor)
    return int(valor_str.replace('$', '').replace('.',''))

In [13]:
data0.Price = data0.Price.astype(str).map(Price_clean)
data0.Price.value_counts()

0        8719
299       114
99        107
499        70
199        59
         ...
40000       1
3999        1
459         1
175         1
159         1
Name: Price, Length: 73, dtype: int64

In [17]:
data0 = data0.loc[data0['Content Rating'] != 'Adults only 18+', :]
data0 = data0.loc[data0['Content Rating'] != 'Unrated', :]
data0['Content Rating'].value_counts()

Everyone        7420
Teen            1084
Mature 17+       461
Everyone 10+     397
Name: Content Rating, dtype: int64

In [18]:
data0

,Category,Rating,Reviews,Installs,Type,Price,Content Rating
0,ART_AND_DESIGN,4.1,159,10000,Free,0,Everyone
1,ART_AND_DESIGN,3.9,967,500000,Free,0,Everyone
2,ART_AND_DESIGN,4.7,87510,5000000,Free,0,Everyone
3,ART_AND_DESIGN,4.5,215644,50000000,Free,0,Teen
4,ART_AND_DESIGN,4.3,967,100000,Free,0,Everyone
...,...,...,...,...,...,...,...
10834,FAMILY,4.0,7,500,Free,0,Everyone
10836,FAMILY,4.5,38,5000,Free,0,Everyone
10837,FAMILY,5.0,4,100,Free,0,Everyone
10839,BOOKS_AND_REFERENCE,4.5,114,1000,Free,0,Mature 17+
10840,LIFESTYLE,4.5,398307,10000000,Free,0,Everyone